---
layout: default
title: Wells Blog
---
<div class="row">
	<div class="span12">
		<h2>{{ page.title }}</h2>
	</div>
</div>
<div class="row">
	<div class="span12">
		<p>文章列表</p>
	</div>
</div>
<div class="row">
	<div class="span12">
		<ul id="posts">
			{% for post in site.posts %}
			　　<li>{{ post.date | date_to_string }} &nbsp;&nbsp;&nbsp; <a style="width:400px;display:inline-block" href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="row">
	<div class="span10">
		
		<!-- This loops through the paginated posts -->
		{% for post in paginator.posts %}
		  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		  <p class="author">
			<span class="date">{{ post.date | date_to_string }}</span>
		  </p>
		  <div class="content">
			{{ post.content }}
		  </div>
		{% endfor %}

		<!-- Pagination links -->
		<div class="pagination">
		  <span class="page_number ">页: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		  {% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">上一页</a>
		  {% else %}
			<span class="previous">Previous</span>
		  {% endif %}
		  {% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">下一页</a>
		  {% else %}
			<span class="next ">下一页</span>
		  {% endif %}
		</div>
	</div>
	<div class="span2">
		
		<ul id="posts">
			{% for post in site.posts %}
			　　<li>{{ post.date | date_to_string }} &nbsp; <a style="width:400px;display:inline-block" href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
